<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="clothes" content="width=device-width, initial-scale=1.0">
    <title>服装分类</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
	<!--<button class="btn btnStyle1" onclick = "window.location.href = '/' ">HOME</button> -->
    
    <form action='/algorithm/clothes' method="POST" enctype = "multipart/form-data" id = 'inputForm'>
        <p><input type = "file" name = "image" required id="imageInput" value = "{{original_image}}">
        <button type = 'submit' id = 'okbt'>OK</button>
        </p>
    </form>

    <!-- 用于显示上传的图像 -->
    <!--<h3>本次所选图像：</h3>-->

    <img id="preview" src="" alt="预览图像" style="max-width: 100%; height: auto; display: none;" class="image-container">
    <div id="messageContainer"></div>
    <ul id="dataList"></ul>

    <script>
        // 获取文件输入框和预览图像的 img 标签
        const form = document.getElementById('inputForm');
        const imageInput = document.getElementById('imageInput');
        const previewImage = document.getElementById('preview');
        const dataList = document.getElementById('dataList');
        const messageContainer = document.getElementById('messageContainer');

        // 当用户选择文件时，使用 FileReader 读取图像并显示
        form.addEventListener('submit', async (e) => {
            e.preventDefault();
            const inputImage = imageInput.files[0];

            const formData = new FormData();
            formData.append('image', inputImage);

            try {
                const response = await fetch('/algorithm/clothes', {
                    method: 'POST',
                    body: formData
                });

                if (!response.ok) {
                    throw new Error('网络响应失败');
                }

                const data = await response.json();
                messageContainer.innerHTML = `<h3>预测结果TOP5</h3>`;
                // 将字典的键值对转换为数组
                const entries = Object.entries(data.result);

                // 按照值从大到小排序
                entries.sort((a, b) => b[1] - a[1])
                dataList.innerHTML = '';
                // 遍历字典的键值对
                for (const [key, value] of entries) {
                    const listItem = document.createElement('li');
                    listItem.textContent = `${key}: ${value}`;
                    dataList.appendChild(listItem);
                }
            } catch (error) {
                console.error('请求出错:', error);
            }
        });

        imageInput.addEventListener('change', function(event) {
            
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();

                reader.onload = function(e) {
                    // 设置预览图像的 src 为选择的文件数据并显示
                    previewImage.src = e.target.result;
                    previewImage.style.display = 'block';
                };
                // 读取文件为 Data URL
                reader.readAsDataURL(file); 
            }
        });
    </script>
    <!--
    {% if uploaded_filename %}
        <p><h3>上次所选图像：{{original_image}}</h3>
            <p><img src="{{ url_for('uploaded_file', filename=uploaded_filename) }}" alt="Uploaded Image" class="image-container"></p>
        </p>
    {% endif %}
    -->
    <!--
    {% if dictionary %}
        <h3>Top5 Predictions:</h3>
        <table border="1">
        {% for key, value in dictionary.items() %}
        <tr>
            <td>{{key}}</td>
            <td>{{value}}</td>
        </tr>
        {% endfor %}
        
    {% endif %}
    -->
</body>
</html>